.SelectionBar {
  background-color: #929aab;
  align-items: center;
  height: 10vh;
  /* bottom: 0; */
  /* position: relative; */
}

.buttonBar {
  background-color: #393e46;
  border-radius: 50%;
  height: 9vh;
  width: 9vh;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  border: none;
  font-size: small;
  color: #f7f7f7;
}

.buttonBar:hover {
  background-color: #393e46;
  color: #393e46;
  box-shadow: inset 6.5em 0 0 0;
  transition: all 0.7s;
}
